.address-item {
    position: relative;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #ddd;
    margin-top: -1px;
    box-sizing: border-box;
}
.address-item .address {
    position: relative;
    padding: 15px 50px 15px 40px;
    background: #fff;
    margin: 0;
    z-index: 2;
}
.address-item .address li {
    line-height: 18px;
    padding: 2px 0;
}
.address-item .handle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #ff3b2f;
    color: #fff;
    width: 70px;
    margin: 1px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}